<!DOCTYPE html>

<html>
  <head>
   <meta content='text/html; charset=UTF-8' http='Content-Type'/>
  </head>
  <body>
    <h1> Sorry to lose you, <%= @user.firstname %> </h1>
    <br>
    <p>
      Your account was deleted successfully 
    </p>
    <p>
      Make sure to watch keep watching dope movies, peace out
    </p>
  </body>
</html>
